@charset "utf-8";
/* CSS Document */

*
{
	margin:0;
	padding:0;
	position:relative;
	font-family:segoeui;
}

a img
{
	border:none;
}

a
{
	color:#188afc;
	cursor:pointer;
}

a:hover, button:hover
{
	color:rgba(0,0,0,0.7);
	text-decoration:none;
	transition:0.5s;
	-webkit-transition:0.5s;
	-o-transition:0.5s;
	-moz-transition:0.5s;
}

a:not(:hover), button:not(:hover)
{
	transition:0.5s;
	-webkit-transition:0.5s;
	-o-transition:0.5s;
	-moz-transition:0.5s;
}

ul
{
	list-style:none;
}

header, nav, section, article, aside, footer, #header, #nav, #section, #article, #aside, #footer
{
	display:block;
}

body
{
	font-size:14px;
	color:#333333;
	font-weight:400;
	min-width:1170px;
	font-family:segoeui;
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f8fcff+0,def0fa+54,57b6e2+87 */
	background: #f8fcff; /* Old browsers */
	background: -moz-linear-gradient(top,  #f8fcff 0%, #def0fa 48%, #57b6e2 87%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #f8fcff 0%,#def0fa 48%,#57b6e2 87%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #f8fcff 0%,#def0fa 48%,#57b6e2 87%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8fcff', endColorstr='#57b6e2',GradientType=0 ); /* IE6-9 */
}

#header
{
	background-color:#49a4ff;
	height:60px;
	border-bottom:2px solid #6d6f70;
	z-index:2;
}

#nav
{
	width:1170px;
	margin:0 auto;
}

#nav li
{
	display:inline-block;
	vertical-align:top;
}

#nav li.logo
{
	margin-right:30px;
	height:60px;
	overflow:hidden;
	margin-left:15px;
}

#nav li.logo a, #nav li.search a, #nav li.sign_in a
{
	padding:0;
}

#nav li.logo a:hover, #nav li.search a:hover
{
	background-color:transparent;
}

#nav li a
{
	text-transform:uppercase;
	color:#fff;
	text-decoration:none;
	font-family:segoeui_bold;
	display:block;
	padding:21px 20px 20px;
}

#nav li a:hover
{
	background-color:#78bcff;
}

#nav li.search
{
	padding-top:15px;
	margin-left:43px;
}

.search button
{
	display:block;
	width:18px;
	height:18px;
	background:url(images/search.png) no-repeat 0 0;
	cursor:pointer;
	position:absolute;
	z-index:2;
	top:21px;
	left:11px;
	border:none;
	background-color:transparent;
}

.search input
{
	border-radius:12px;
	border:none;
	width:226px;
	padding-left:35px;
	height:28px;
	outline:none;
}

#nav li.sign_in
{
	float:right;
}

#nav li.sign_in a
{
	background-color:#78bcff;
	width:98px;
	font-family:segoeui_light;
	font-size:13px;
	text-transform:none;
	padding:21px 0px 22px 84px;
}

#nav li.sign_in a:hover
{
	background-color:transparent;
}

#nav li.sign_in a img
{
	position:absolute;
	top:9px;
	left:17px;
}

#nav li div::before
{
	content:''; 
    position:absolute;
    left:50%;
	top:-5px;
	margin-left:-8px;
    border:8px solid transparent;
    border-bottom:7px solid #49a4ff;
}

#nav li div
{
	position:absolute;
	/*background:url(images/nav_div.png) no-repeat center top;*/
	padding-top:10px;
	/*padding-top:5px;*/
	width:100%;
	display:none;
}

#nav li:hover > div
{
	display:block;
}

#nav li div ul
{
	background-color:#49a4ff;
}

#nav li div ul li
{
	display:block;
}

#nav li div ul li a
{
	font-family:segoeui_light;
	font-size:13px;
	text-transform:none;
	padding:7px 0px 8px 17px;
}

#article, #aside
{
	display:inline-block;
	vertical-align:top;
}

#section
{
	width:1170px;
	min-height:1200px;
	margin:0 auto;
	overflow:hidden;
}

select
{
	border-radius:3px;
	-webkit-appearance: none;
	background-image:url(images/select.png);
	background-position: right center;
	background-repeat: no-repeat;
	line-height: 1em;
	/* for FF */
	-moz-appearance: none;
	text-indent: 0.01px; 
	text-overflow: '';
	/* for IE */
	-ms-appearance: none;
	appearance: none!important;
	
	background-color:#49a4ff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	
	font-size: 13px;
	color:#fff;
	padding-left:10px;
	height:30px;
	width:158px;
	outline:none;
	cursor:pointer;
	margin-left:5px;
}
 
select::-ms-expand
{
	display: none;
}

.filter
{
	font-family:segoeui_bold;
	color:#0f58a0;
	margin-top:18px;
	margin-left:15px;
}

.filter select
{
	margin-left:2px;
}

.container
{
	background-color:#fff;
	margin-top:20px;
	width:848px;
	padding:0 15px 72px;
	box-shadow: 0px 1px 1px 0px rgba( 0, 0, 0, 0.5 );
}

h2
{
	font-family:segoeui_bold;
	font-size:30px;
	color:#fff;
	font-weight:normal;
}

h2.h2_bg
{
	background:url(images/h1.png) no-repeat 0 0;
	width:370px;
	padding:2px 0 10px 16px;
	margin-left:-15px;
}

.slider ul
{
	height:380px;
}

.featured span
{
	position:absolute;
	top:0;
	right:0;
	font-size:14px;
	color:#fff;
	z-index:5;
	background-color:#568ecc;
	border-radius:6px;
	box-shadow: -0.5px 0.866px 1px 0px rgba( 0, 0, 0, 0.5 );
	width: 66px;
	text-align:center;
	padding:4px 0;
}

.featured hr
{
	height:2px;
	background:url(images/hr.png) no-repeat 0 0;
	background-size:100%;
	position:absolute;
	top:140px;
	left:0;
	z-index:2;
	width:100%;
	border:none;
}

.featured li
{
	display:inline-block;
	vertical-align:top;
	width:263px;
	height:249px;
	border-radius:6px;
	overflow:hidden;
	box-shadow: 0px 1px 1px 0px rgba( 0, 0, 0, 0.5 );
	margin-top:54px;
	margin-right:24px;
}

.featured li:last-child
{
	margin-right:0;
}

.featured li p
{
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	font-family:segoeui_bold;
	color:#188cff;
	line-height:22px;
	margin-top:4px;
}

.featured li p a
{
	color:#188cff;
	text-decoration:none;
}

.featured li p a:hover
{
	text-decoration:underline;
}

.featured_img
{
	height:140px;
	overflow:hidden;
}

.featured_img a
{
	position:static;
}

.viewers
{
	text-align:center;
	font-size:13px;
	width:36px;
	margin:16px 0 0 21px;
}

.viewers img
{
	display:block;
	margin:0 auto;
}

.rating
{
	position:absolute;
	right:27px;
	bottom:10px;
	font-size:12px;
	color:#49a4ff;
	text-align:center;
}

.rating img
{
	margin-right:1px;
	top:3px;
}

.play
{
	background:url(images/play.png) no-repeat center rgba(24,182,172,0.7);
	position:absolute;
	z-index:3;
	top:0;
	height:140px;
	width:100%;
	display:none;
}

.featured li:hover .play
{
	display:block;
}

h2.h2_bg2
{
	float:right;
	background:url(images/h1-2.png) no-repeat 0 0;
	padding:26px 16px 6px 145px;
	margin-left:-15px;
	font-size:24px;
	font-family:seguisb;
	margin-right:-15px;
	margin-top:10px;
}

.container2
{
	border-radius:4px;
	margin-top:-2px;
	padding-bottom:40px;
}

h3
{
	margin-top:20px;
	font-size: 18px;
	color: rgb( 255, 255, 255 );
	font-family:segoeui_bold;
	font-weight:normal;
	background:url(images/h3-2.png) no-repeat 0 0;
	padding:10px 0 13px 37px;
	margin-left:0px;
	z-index:3;
}

.container2 ul
{
	padding-top:34px;
	margin-left:20px;
}

.container2 li
{
	width:166px;
	display:inline-block;
	vertical-align:top;
	margin-left:27px;
	margin-bottom:40px;
}

.container2 .featured_img
{
	height:156px;
	border-radius:4px;
	overflow:hidden;
	box-shadow: 0px 1px 1px 0px rgba( 0, 0, 0, 0.5 );
}

.container2 .viewers
{
	margin-left:16px;
	margin-top:7px;
}

.container2 .rating
{
	right:0;
	bottom:1px;
	line-height:16px;
}

.container2 .rating img
{
	width:14px;
}

.container2 li:hover .play
{
	display:block;
	cursor:pointer;
}

.container2 .play
{
	color:#fff;
	font-size:12px;
	height:156px;
	background-position:113px 111px;
	background-size:34px;
}

.container2 .play p
{
	top:10px;
	left:11px;
	height:100%;
}

.container2 .play a
{
	color:#fff;
	text-decoration:none;
}

.container2 .play strong
{
	display:block;
	margin-bottom:3px;
}

.more
{
	font-size:18px;
	float:right;
}

.h3_1
{
	padding-left:22px;
}

.h3_2
{
	padding-left:62px;
}

#footer
{
	background-color:#49a4ff;
	height:100px;
	margin-top:255px;
}

.social
{
	width:255px;
	margin:0 auto;
	padding-top:26px;
}

.social a
{
	font-size:12px;
	color:#fff;
}

.social ul
{
	width:235px;
	margin:0 auto 5px;
}

.social li
{
	display:inline-block;
	vertical-align:top;
	margin-right:15px;
}

.social li a
{
	display:block;
	background:url(images/social.png) no-repeat 0 0;
	height:40px;
	width:40px;
}

.social .pw a
{
	background-position:-55px 0;
}

.social .fb a
{
	background-position:-108px 0;
}

.social .gl a
{
	background-position:-159px 0;
}

#aside
{
	margin-left:15px;
}

.upload
{
	font-size: 24px;
	color: rgb( 255, 255, 255 );
	font-weight: bold;
	width:150px;
	display:block;
	text-align:center;
	padding:4px 30px 4px 0px;
	text-transform:uppercase;
	text-decoration:none;
	margin-left: 81px;
    margin-top: 13px;
    margin-bottom: 16px;
	
	
	border-radius: 3px;
	background-image: -moz-linear-gradient( 83deg, rgb(193,222,151) 0%, rgb(71,185,18) 0%, rgb(55,143,14) 100%);
	background-image: -webkit-linear-gradient( 83deg, rgb(193,222,151) 0%, rgb(71,185,18) 0%, rgb(55,143,14) 100%);
	background-image: -ms-linear-gradient( 83deg, rgb(193,222,151) 0%, rgb(71,185,18) 0%, rgb(55,143,14) 100%);
	box-shadow: 0px 2px 2px 0px rgb( 41, 106, 10 );
}

.upload:hover
{
	color:#fff;
}

.upload img
{
	position:absolute;
	top:0;
	right:0;
}

#aside .nav
{
	margin-top:13px;
	border-radius:3px;
	overflow:hidden;
}

#aside .nav li
{
	background-image: -moz-linear-gradient( 180deg, rgb(65,145,226) 0%, rgb(21,121,220) 100%);
	background-image: -webkit-linear-gradient( 180deg, rgb(65,145,226) 0%, rgb(21,121,220) 100%);
	background-image: -ms-linear-gradient( 180deg, rgb(65,145,226) 0%, rgb(21,121,220) 100%);
	width:262px;
	border-bottom:1px solid #0f59a3;
}

#aside .nav li:last-child
{
	border:none;
}

#aside .nav li a
{
	color:#fff;
	font-size:18px;
	text-decoration:none;
	display:block;
	padding:11px 0 12px 58px;
}

#aside .nav li img
{
	position:absolute;
	top:13px;
	left:15px;
}

.column_buttons
{
	margin-top:30px;
}

.column_buttons a
{
	font-family:segoeui_bold;
	font-size:18px;
	text-decoration:none;
	color:#fff;
	display:inline-block;
	vertical-align:top;
	margin-right:30px;
	background:url(images/column_buttons.png) no-repeat -148px 0;
	width:117px;
	padding:7px 0 11px;
	text-align:center;
}



.column_buttons a:hover
{
	background-position:0 0;
	transition:0;
	-webkit-transition:0s;
	-o-transition:0s;
	-moz-transition:0s;
}

.column_buttons a:not(:hover)
{
	transition:0s;
	-webkit-transition:0s;
	-o-transition:0s;
	-moz-transition:0s;
}

.column_buttons a:last-child
{
	margin-right:0;
}

.column_ul
{
	background-color:#fff;
	margin-top:15px;
	padding-bottom:31px;
	box-shadow: 0px 1px 1px 0px rgba( 0, 0, 0, 0.5 );
}

.column_ul::before
{
	content:''; 
    position:absolute;
    left:45px;
	top:-20px;
    border:12px solid transparent;
    border-bottom:8px solid #fff;
}

.column_ul p
{
	width:200px;
	margin:0 auto 20px;
	border-bottom:1px solid #daf3ce;
	text-align:center;
	font-size:24px;
	color:#188cff;
	padding-bottom:5px;
}

.column_ul ul
{
	margin-top:34px;
}

.column_ul li
{
	width:216px;
	margin:24px 0 0 29px;
}

.column_ul li img
{
	border-radius:4px;
	overflow:hidden;
}

.column_ul li span
{
	background-color:#fafaf9;
	font-size:24px;
	color:#4eca14;
	display:inline-block;
	padding:0px 10px;
	text-align:center;
	border-radius:20px;
	font-family:segoeui_bold;
	position:absolute;
	top:-14px;
	left:-15px;
	z-index:2;
}

.column_ul li .rating
{
	position:relative;
	margin-top:2px;
	margin-bottom:5px;
	bottom:auto;
	right:auto;
	margin-left:-15px;
}

.column_ul li .rating img
{
	border-radius:0px;
	overflow:visible;
}

.column_title
{
	color:#188cff;
	font-family:segoeui_bold;
	text-decoration:none;
	text-align:center;
	line-height:24px;
	display:block;
	margin-top:8px;
}

.pagination
{
	width:100%;
	background-color:#fff;
	border-radius:4px;
	margin-top:123px;
	margin-bottom:5px;
	padding:5px 0 8px;
	box-shadow: 0px 1px 1px 0px rgba( 0, 0, 0, 0.5 );
}

.pagination ul
{
	padding-left:15px;
	padding-right:15px;
}

.pagination li
{
	display:inline-block;
	vertical-align:top;
	margin-right:9px;
}

.pagination li:first-child
{
	float:left;
	margin-right:89px;
}

.pagination li:last-child
{
	float:right;
	margin-right:-3px;
}

.pagination li a
{
	font-size:16px;
	color:#3c3c3c;
	text-decoration:none;
}

.pagination li a:hover, .pagination li.current a
{
	color:#49a4ff;
	text-decoration:underline;
}

.container3
{
	margin-top:15px;
	padding-bottom:13px;
}

.title
{
	font-size:18px;
	color:#464646;
	font-family:segoeui_bold;
	padding-top:2px;
	padding-bottom:1px;
}

.desc
{
	font-size:12px;
	color:#464646;
	font-family:segoeui_bold;
}

.desc_block
{
	margin-top:10px;
	min-height:160px;
	color:#333333;
	font-size:12px;
	line-height:16px;
}

.desc_block img
{
	float:left;
	margin-right:10px;
}

.desc_block p
{
	width:620px;
	line-height:14px;
}

.desc_block a
{
	display:inline-block;
	vertical-align:top;
	color:#fff;
	font-size:12px;
	text-decoration:none;
	font-family:segoeui_italic;
	padding:6px 0 6px 5px;
	margin-top:61px;
}

.desc_block .a_p
{
	background:url(images/a_p.png) no-repeat 0 0;
	text-align:center;
	width:122px;
}

.desc_block .a_s
{
	background:url(images/a_s.png) no-repeat 0 0;
	text-align:center;
	width:107px;
	padding-left:12px;
}

.date
{
	font-size:12px;
	top:7px;
	color:#6d6d6d;
}

.share
{
	margin-top:14px;
	margin-left:16px;
}

.rev
{
	position:absolute;
	top:-43px;
	right:-24px;
	width:212px;
	z-index:2;
}

.rev p
{
	font-size: 12px;
	color: rgb( 73, 164, 255 );
	font-family:segoeui_bold;
	text-align:center;
	width:auto;
	margin-bottom:14px;
}

.rev p span
{
	margin-top:2px;
	font-size: 24px;
	color: rgb( 59, 155, 15 );
	display:block;
	font-family:segoeui_bold;
}

.rev .rating
{
	position:relative;
	bottom:auto;
	right:auto;
	font-size:14px;
	color:#1579dc;
	width:107px;
	margin:21px auto 0;
}

.rev .rating .rating_stars
{
	margin-top:6px;
	margin-bottom:-3px;
}

.rev .rating .rating_stars li
{
	font-size:18px;
}

.rev .rating img
{
	width:16px;
	margin-top:6px;
	margin-right:4px;
	left:7px;
}

.rev .rating .rate img
{
	width:12px;
}

.desc_buttons
{
	position:absolute;
	right:-3px;
	text-align:center;
	bottom:-0px;
	width:218px;
}

.desc_buttons a
{
	padding:3px 0 0 0;
	margin:0;
	width:auto;
	height:20px;
	display:inline-block;
	vertical-align:top;
	overflow:hidden;
	font-size:14px;
	color:#fff;
	text-decoration:none;
	font-family:segoeui_bold;
}

.desc_buttons .desc_play
{
	background:url(images/angle.png) no-repeat 0 0 #188cff;
	width:42px;
	padding-left:42px;
	text-align:left;
}

.desc_buttons .desc_download
{
	background-color:#47b912;
	width:131px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	margin-left:-7px;
}

.table_h3
{
	margin-top:10px;
}

.mixpage_h3
{
	padding-left:94px;
}

.tracks
{
	width:100%;
	background-color:#fff;
	border-collapse:collapse;
}

.tracks tr td
{
	padding:6px 0;
}

.tracks tr td:first-child
{
	width:38px;
	text-align:center;
	font-size:14px;
	color:#4c4c4c;
	font-family:segoeui_bold;
}

.tracks tr:nth-child(odd) td
{
	background-color:#e8e8e8;
}

.tracks tr td:nth-child(2)
{
	font-size:16px;
	color:#188cff;
	width:680px;
}

.tracks tr td a
{
	color:#fff;
	text-decoration:none;
	display:block;
	padding:1px 0;
	border-radius:3px;
	box-shadow: 0px 1px 2px 0px rgba( 0, 0, 0, 0.5 );
	text-align:center;
}

.tracks tr td:nth-child(3) a
{
	background-color: rgb( 24, 140, 255 );
	width:51px;
}

.tracks tr td:nth-child(4) a
{
	border-radius: 3px;
	background-color: rgb( 71, 185, 18 );
	width: 89px;
	box-shadow:inset 0px 0px 12px rgba( 0, 0, 0, 0.5 );
}

.comments
{
	display:block;
}

.popular_ul
{
	padding-top:34px;
	padding-bottom:20px;
	border-bottom:1px solid #eef0f1;
	margin-bottom:-3px;
}

.popular_ul span
{
	font-size: 60px;
	color: rgb( 71, 185, 18 );
	text-align: center;
	margin-top:26px;
	margin-right:18px;
	display:inline-block;
	vertical-align:top;
}

.popular_ul img
{
	display:inline-block;
	vertical-align:top;
	border-radius:4px;
	box-shadow: 0px 1px 2px 0px rgba( 0, 0, 0, 0.5 );
}

.popular_ul p
{
	position:absolute;
	z-index:2;
	top:34px;
	left:219px;
	color:#368ce1;
}

.popular_ul .popular_title
{
	font-size:24px;
	font-family:segoeui_bold;
}

.popular_ul .popular_title a
{
	text-decoration:none;
}

.popular_ul .popular_art
{
	margin-top:30px;
}

.popular_ul .popular_art a
{
	text-decoration:none;
	font-size:18px;
}

.popular_ul .viewers img, .popular_ul .rating img
{
	box-shadow:none;
}

.popular_ul .rating img
{
	margin-top:5px;
}

.popular_ul .rating
{
	bottom:33px;
}

.popular_ul .viewers
{
	position:absolute;
	bottom:31px;
	right:115px;
}

h2.h2_bg3
{
	background:url(images/h1-3.png) no-repeat 0 0;
	padding:3px 0px 7px 20px;
	margin-left:-15px;
	font-size:26px;
	font-family:seguisb;
	font-weight:normal;
	margin-top:23px;
	margin-bottom:10px;
}

.upcomming_img
{
	display:block;
	margin:0 auto;
}

.upcomming_p
{
	text-align:center;
	font-size:24px;
	color:#393939;
	margin-top:15px;
}

.counter
{
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
	background-color:#188cff;
	height:136px;
	margin-top:-27px;
	box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
	color:#fff;
}

#defaultCountdown
{
	text-align:center;
	padding-top:30px;
	margin-left:50px;
}

.countdown-period
{
	top:-60px;
	left:-50px;
	
	font-size:14px;
	font-family:segoeui_bold;
	color: rgb( 242, 242, 242 );
	text-transform: uppercase;
	text-align: center;
	text-shadow: 0.5px 0.866px 3px rgba( 0, 0, 0, 0.5 );
}

.countdown-section:nth-child(3) .countdown-period
{
	left:-60px;
}

.countdown-section:nth-child(4) .countdown-period
{
	left:-65px;
}

.countdown-amount
{
	font-size: 62px;
	color: rgba( 255, 255, 255, 0.8 );
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 0.5px 0.866px 1px rgba( 0, 0, 0, 0.2 );
}

.filter2
{
	position:absolute;
	right:0;
	top:22px;
}

.filter2 a
{
	text-align:center;
	width:98px;
	padding:1px 0 2px;
	color:#47b912;
	text-transform:uppercase;
	border:1px solid #368ce1;
	display:inline-block;
	vertical-align:top;
	border-radius:4px;
	text-decoration:none;
	margin-left:10px;
}

.filter2 a.current
{
	color:#fff;
	background-color:#368ce1;
}

.filter2 a:hover
{
	color:#fff;
	background-color:#368ce1;
}

.artist_desc
{
	border-radius:4px;
	overflow:hidden;
	margin-left:-15px;
	height:360px;
}

.artist_desc img
{
	float:left;
	margin-right:15px;
}

.artist_desc h2
{
	display:inline-block;
	vertical-align:top;
	color: rgb( 73, 164, 255 );
}

.artist_desc p
{
	display:inline-block;
	vertical-align:top;
	color:#333333;
	font-family:segoeui_italic;
	width:470px;
	left:15px;
	line-height:18px;
	margin-top:2px;
}

.container4
{
	width:833px;
	margin-right:13px;
	padding-bottom:0;
}

.artist_container_page
{
	width:1170px;
}

.artist_h3
{
	background-image:url(images/h3-2-2.png);
	margin-top:13px;
	padding-left:69px;
}

.artist_container_page ul
{
	padding-top:26px;
	margin-left:0px;
}

.artist_container_page li
{
	margin-right:24px;
	margin-left:1px;
}

.dashboard_aside
{
	border-radius: 3px;
	background-color: rgb( 255, 255, 255 );
	box-shadow: 0px 1px 2px 0px rgba( 0, 0, 0, 0.5 );
	width: 278px;
	height: 372px;
	display:inline-block;
	vertical-align:top;
	margin-bottom:100px;
	margin-top:31px;
	text-align:center;
	color:#454545;
	line-height:18px;
}

.dashboard_aside img
{
	display:block;
	margin:14px auto 18px;
}

.dashboard_aside strong
{
	font-size:18px;
	color:#1579dc;
	font-family:seguisb;
	font-weight:normal;
}

.dashboard_section
{
	display:inline-block;
	vertical-align:top;
	margin-top:31px;
	margin-left:28px;
}

.dashboard_nav
{
	border-radius: 3px;
	box-shadow: 0px 1px 2px 0px rgba( 0, 0, 0, 0.5 );
	background-color:#5a99d5;
	padding:42px 10px 0px 0;
}

.dashboard_nav li
{
	display:inline-block;
	vertical-align:top;
	text-align:center;
	margin-left:22px;
	margin-right:11px;
	height:119px;
}

.dashboard_nav li a
{
	color:#fff;
	text-decoration:none;
	display:block;
	line-height:18px;
	width:84px;
}

.dashboard_nav li a img
{
	display:block;
	margin:0 auto;
}

.dashboard_nav li:nth-child(1) a img
{
	margin-bottom:23px;
}

.dashboard_nav li:nth-child(2) a img
{
	margin-bottom:21px;
}

.dashboard_nav li:nth-child(3)
{
	margin-left:26px;
}

.dashboard_nav li:nth-child(3) a img
{
	margin-top:10px;
	margin-bottom:23px;
}

.dashboard_nav li:nth-child(4) a img
{
	margin-top:3px;
	margin-bottom:14px;
}

.dashboard_nav li:nth-child(5) a img
{
	margin-top:2px;
	margin-bottom:22px;
}

.dashboard_nav li:nth-child(6)
{
	margin-left:28px;
	margin-right:8px;
}

.dashboard_nav li:nth-child(6) a img
{
	margin-bottom:14px;
}

.dashboard_nav li:nth-child(7) a img
{
	margin-top:1px;
	margin-bottom:20px;
}

.dashboard_nav li span
{
	background-color:#47b912;
	width:127px;
	height:3px;
	display:none;
	position:absolute;
	bottom:-1px;
	margin-left:-64px;
	left:50%;
}

.dashboard_nav li.current span
{
	display:block;
}

.dashboard_page
{
	display:block;
	vertical-align:top;
	border-radius: 10px;
	background-color: rgb( 255, 255, 255 );
	min-height:176px;
	margin-top:34px;
	padding:0 15px;
}

.h3_full:before
{
	content:url(images/h3-1.png);
	width:25px;
	height:43px;
	display:inline-block;
	vertical-align:top;
	margin-top:-7px;
	left:-25px;
	position:absolute;
}

.h3_full:after
{
	content:url(images/h3-1-1.png);
	width:30px;
	height:43px;
	display:inline-block;
	vertical-align:top;
	margin-top:-7px;
	background-color:transparent;
	right:-30px;
	position:absolute;
}

.h3_full
{
	background-image:none;
	background-color:#188cff;
	width:209px;
	padding:7px 0px 10px 0px;
	text-align:center;
	box-shadow: 0px 0px 2px 0px rgba( 0, 0, 0, 0.3 );
	margin:0 auto 0;
	top:-11px;
}

.dashboard_page p.em
{
	font-family:segoeui_italic;
	font-style:normal;
	position:absolute;
	bottom:30px;
	margin-left:15px;
}

.registration
{
	border-radius: 5px;
	background-color: rgb( 24, 140, 255 );
	width: 374px;
	height: 266px;
	box-shadow: 0px 1px 8px rgba( 0, 0, 0, 0.6 );
	margin:164px auto 0;
}

.registration p
{
	font-size: 18px;
	color: rgb( 255, 255, 255 );
	text-align: center;
	font-family:segoeui_bold;
	padding-top:12px;
	padding-bottom:11px;
}

.registration label
{
	display:block;
	border-bottom:1px solid #46a3ff;
	margin-left:8px;
	margin-right:15px;
	margin-bottom:16px;
	padding-bottom:3px;
	color:#fff;
}

.registration label span
{
	float:right;
	font-size: 12px;
	color: rgb( 116, 179, 237 );
}

.registration input
{
	border:none;
	background-color:transparent;
	margin-left:7px;
	color:#fff;
	outline:none;
}

.registration label.checkbox
{
	font-size:12px;
	font-family:segoeui_light;
	border:none;
	display:inline-block;
	vertical-align:top;
	margin-top:24px;
    margin-left:4px;
}

.registration label.checkbox input
{
	top:2px;
	margin-right:5px;
}

.registration button
{
	color:#fff;
	font-size:12px;
	border-radius: 3px;
	background-color: rgb( 100, 160, 215 );
	width:160px;
	height:30px;
	border:none;
	text-transform:uppercase;
	cursor:pointer;
	margin-top:16px;
    margin-left:11px;
	font-family:segoeui_bold;
}

.registration.sign_in
{
	height:222px;
}

.sign_in label.checkbox
{
	margin-top:67px;
}

.sign_in button
{
	margin-top:60px;
	margin-left:76px;
}

.player
{
	height:473px;
	width:367px;
	margin:160px auto 0;
	background-color:#000;
}

.player .player_img
{
	display:block;
	margin:0 auto;
}

.player_title
{
	position:absolute;
	bottom:0;
	width:100%;
	z-index:2;
	height:65px;
	background-color:rgba(0,0,0,0.7);
}

.player_title p
{
	color:#fff;
	font-size:18px;
	font-family:segoeui_bold;
	padding-left:6px;
	padding-top:2px;
}

.player_title p span
{
	font-size:12px;
	color:#188cff;
	display:block;
	font-family:segoeui_bold;
	margin-top:1px;
}

.line
{
	display:block;
	width:65px;
	height:5px;
	position:absolute;
	left:0;
	bottom:0px;
	background-color:#4579c4;
}

.player_title .rating_stars
{
	position:absolute;
	top:1px;
	right:9px;
}

.rating_stars
{
	unicode-bidi: bidi-override;
	direction: rtl;
}

.rating_stars ul
{
	margin:0;
	padding:0;
}

.rating_stars li
{
	cursor:pointer;
	display:inline-block;
	vertical-align:top;
	color:#d4d4d4;
	font-size:19px;
	margin:0;
	padding:0;
	width:auto;
	height:auto;
}

.rating_stars li:hover:before,
.rating_stars li:hover ~ li:before
{
	content: "\2605";
	position: absolute;
	color:#ba7438;
}

.time
{
	font-size:12px;
	color:#fff;
	text-align:right;
	margin-top:4px;
}

.time span
{
	color:#888888;
}

.control
{
	position:absolute;
	top:143px;
	left:65px;
}

.control li
{
	display:inline-block;
	vertical-align:top;
	margin-right:36px;
}

.control li:nth-child(2)
{
	top:-5px;
}

.track_list
{
	height:123px;
}
.track_list li
{
	cursor:pointer;
	border-bottom:1px solid #1d1d1d;
	padding:15px 23px 9px 16px;
}

.track_list li p
{
	color:#555555;
	font-size:12px;
}

.track_list li p .time_right
{
	float:right;
	margin-right:4px;
}

.track_list li p span
{
	margin-right:3px;
}

.track_list li.current p span
{
	background:url(images/sound.png) no-repeat 0 0;
	display:inline-block;
	vertical-align:top;
	width:11px;
	height:10px;
	color:transparent;
	top:3px;
}

.track_list li.current p .time_right
{
	background-image:none;
	padding:0;
	width:auto;
	height:auto;
	color:#fff;
	top:0;
}

.track_list li.current
{
	border:none;
}

.track_list li.current p
{
	color:#fff;
}

.line.line2
{
	height:3px;
	margin-bottom:-1px;
}