@charset "utf-8";
/* CSS Document */

@font-face
{
	font-family:segoeui;
	src:local("segoeui"),
	url(../fonts/segoeui.ttf);
}

@font-face
{
	font-family:segoeui_bold;
	src:local("segoeuib"),
	url(../fonts/segoeuib.ttf);
}

@font-face
{
	font-family:segoeui_italic;
	src:local("segoeuii"),
	url(../fonts/segoeuii.ttf);
}

@font-face
{
	font-family:segoeui_light;
	src:local("segoeuil"),
	url(../fonts/segoeuil.ttf);
}

@font-face
{
	font-family:segoeui_semi_light;
	src:local("segoeuisl"),
	url(../fonts/segoeuisl.ttf);
}

@font-face
{
	font-family:segoeuiz;
	src:local("segoeuiz"),
	url(../fonts/segoeuiz.ttf);
}

@font-face
{
	font-family:seguisb;
	src:local("seguisb"),
	url(../fonts/seguisb.ttf);
}