@import 'base';

body {
	margin: 0;
}

.header {
	min-width: 1000px;
	&-container {
		margin: 0 auto;
		width: 835px;
		padding: 5px 0;
		overflow: hidden;
		background-image: url("../img/header-top-bg.png");
		background-repeat: no-repeat;
		background-position: 170px 15px;
	}
	&-logo {
		float: left;
		width: 135px;
		text-align: center;
		img {
			vertical-align: middle;
		}
		p {
			margin: 0;
			text-transform: uppercase;
			font: normal 13.5px $cb;
		}
	}
	&-title {
		float: left;
		width: 420px;
		h2 {
			margin: 0;
			text-align: center;
			text-transform: uppercase;
			font: normal 45px $cb;
			color: $accent;
		}
	}
	&-info {
		float: right;
		margin-top: 10px;
		text-align: right;
		width: 835px - 135 - 420;
		p {
			margin: 0;
			font: normal 15px $cb;
		}
		h4 {
			margin: 5px 0 0;
			font: normal 34px $cb;
			color: $accent;
			img {
				position: relative;
				top: 5px;
				right: 5px;
			}
		}
		h5 {
			margin: 0;
			font: normal 19px $cb;
		}
	}
	&-bottom {
		&-container {
			margin: 0 auto;
			width: 835px;
		}
		min-width: 1000px;
		text-align: center;
		background-color: #31558f;
		p {
			margin: 0;
			padding: 12px 0;
			font: normal 25px $cb;
			color: #fff;
		}
	}
	&-line {
		min-width: 1000px;
		height: 4px;
		background-color: #7295c9;
	}
	&-menu {
		&-container {
			margin: 0 auto;
			width: 1000px;
		}
		min-width: 1000px;
		background-color: #9fc32e;
		border-top: 1px solid #d4e548;
		ul {
			margin: 0;
			padding: 0;
			text-align: center;
			li {
				position: relative;
				display: inline-block;
				margin: 4px 4px 6px;
				font: normal 15px $cr;
				&:after {
					position: absolute;
					top: 0;
					right: -10px;
					content: '|';
					font: normal 15px $cr;
					color: #fff;
				}
				&:last-child {
					&:after {
						display: none;
					}
				}
				&.mega {
					position: relative;
					color: #013280;
					cursor: pointer;
					&:hover {
						color: lighten(#013280, 10%);
						ul {
							display: block;
						}
					}
					ul {
						position: absolute;
						left: -50%;
						z-index: 4;
						display: none;
						width: 180px;
						padding: 20px 5px 0;
						text-align: left;
						&:before {
							position: absolute;
							top: 10px;
							right: 0;
							left: 0;
							z-index: 3;
							content: '';
							margin: 0 auto;
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 0 5px 5px 5px;
							border-color: transparent transparent #9fc32e transparent;
						}
						&:after {
							position: absolute;
							z-index: -1;
							bottom: 0;
							left: 0;
							width: 100%;
							height: calc(100% - 15px);
							content: '';
							background-color: #9fc32e;
							border-radius: 5px;
							box-shadow: 0 0 5px 0 rgba(#3d3d3d, .3);
						}
						li {
							position: relative;
							display: block;
							padding-left: 12px;
							font: normal 13px $cr;
							&:after {
								display: none;
							}
							&:before {
								position: absolute;
								top: 6px;
								left: 0;
								width: 6px;
								height: 6px;
								content: '';
								background-color: #fff;
								border-radius: 50%;
								box-shadow: 0 0 5px 0 rgba(#3d3d3d, .4);
							}
							a {
								color: #29456f;
								&:hover {
									color: lighten(#29456f, 10%);
								}
							}
						}
					}
				}
				a {
					text-decoration: none;
					color: #fff;
					transition: all .3s;
					text-shadow: 0 1px 0 rgba(#627a25, .79);
					&:hover {
						color: $accent;
					}
				}
			}
		}
	}
}

.hiro {
	position: relative;
	height: 500px;
	background-image: url("../img/header-bg.jpg");
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: cover;
	min-width: 1000px;
	&-content {
		margin: 0 auto;
		width: 835px;
		img {
			margin-top: 22px;
			margin-left: 45px;
			vertical-align: middle;
		}
		form {
			position: relative;
			float: right;
			margin-top: 35px;
			margin-right: 20px;
			width: 411px;
			height: 419px;
			text-align: center;
			background-color: #fff;
			border-radius: 5px;
			box-shadow: 0 0 5px 0 rgba(#3d3d3d, .3);
			overflow: hidden;
			&:before {
				position: absolute;
				top: 5px;
				left: 5px;
				width: 411px - 10px;
				height: 419px - 10px;
				content: '';
				background-color: #30558f;
			}
			&:after {
				position: absolute;
				width: 399px;
				height: 128px;
				content: '';
				background-color: #bfcadc;
				left: 6px;
				bottom: 6px;
			}
			.glas {
				position: absolute;
				top: -70%;
				left: -50%;
				z-index: 2;
				width: 100%;
				height: 200%;
				background-color: rgba(#fff, .11);
				transform: rotate(44.5deg);
			}
			p {
				position: relative;
				z-index: 3;
				margin: 25px 0 15px;
				text-transform: uppercase;;
				font: normal 22px $cb;
				color: #fff;
			}
			input {
				position: relative;
				z-index: 3;
				margin-bottom: 20px;
				width: 390px - (17 * 2) - 65;
				height: 50px;
				padding-right: 15px;
				padding-left: 50px;
				font: normal 22px $cr;
				color: #333;
				border: none;
				outline: none;
				background-image: url("../img/icon-user.png");
				background-repeat: no-repeat;
				background-position: center left;
				&:last-child {
					background-image: url("../img/icon-phone.png");
				}
			}
			::-webkit-input-placeholder {color:#716f69;}
			::-moz-placeholder          {color:#716f69;}
			:-moz-placeholder           {color:#716f69;}
			:-ms-input-placeholder      {color:#716f69;}
			.button-wrap {
				position: relative;
				z-index: 3;
				margin-top: 6px;
				margin-right: auto;
				margin-left: auto;
				width: 244px;
				height: 55px;
				background-color: #9fc32e;
				border-radius: 2px;
				transition: all .3s;
				&:after {
					position: absolute;
					left: 0;
					content: '';
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 30px 121px 0 121px;
					border-color: #9fc32e transparent transparent transparent;
					transition: all .3s;
				}
				&:hover {
					background-color: darken(#9fc32e, 5%);
					&:after {
						border-color: darken(#9fc32e, 5%) transparent transparent transparent;
					}
				}
			}
			button {
				display: block;
				width: 100%;
				height: 55px;
				padding-top: 15px;
				font: normal 22px $cb;
				color: #fff;
				background: none;
				border: none;
				outline: none;
				cursor: pointer;
			}
			.security {
				position: absolute;
				right: 0;
				bottom: 5px;
				left: 0;
				z-index: 3;
				margin: 0 auto;
				width: 317px;
				height: 47px;
				font: normal 15.5px/47px $cb;
				color: #fff;
				background-image: url("../img/security-bg.png");
				border-radius: 7px 7px 0 0;
			}
			.triangle {
				position: absolute;
				top: 285px;
				left: 5px;
				z-index: 1;
				content: '';
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 50px 199.5px 0 199.5px;
				border-color: #30558f transparent transparent transparent;
			}
		}
		.back {
			display: none;
			p {
				font-size: 28px;
			}
			&:after {
				display: none;
			}
			.first-title {
				margin-top: 115px;
			}
			.button-wrap {
				margin-top: 6px;
				width: 170px;
				height: 40px;
				&:after {
					border-width: 25px 85px 0 85px;
				}
			}
			button {
				margin-top: 40px;
				height: 40px;
				padding-top: 10px;
				font-size: 28px;
				text-shadow: 0 1px 2px rgba(#627a25, .79);
			}
		}
	}
	&-line {
		position: relative;
		width: 50%;
		height: 27px;
		background-color: #fff;
		&:after {
			position: absolute;
			right: -27px;
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 27px 0 0 27px;
			border-color: transparent transparent transparent #fff;
		}
	}
}

.sro {
	min-width: 1000px;
	padding-bottom: 50px;
	background-image: url("../img/sro-bg.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	color: #1c1c1c;
	&-container {
		margin: 0 auto;
		width: 860px;
	}
	p {
		margin: 20px 0;
		font: normal 17px $cr;
	}
	ul {
		li {
			font: normal 17px $cb;
		}
	}
	a.btn-red {
		position: relative;
		display: block;
		margin: 0 auto;
		width: 260px;
		height: 55px;
		text-align: center;
		text-decoration: none;
		font: normal 18.5px/55px $cb;
		color: #fff;
		text-shadow: 0 2px 3px rgba(#000, .52);
		background-color: #d34141;
		border-radius: 14px 14px 18px 18px;
		border-bottom: 4px solid #b23131;
		overflow: hidden;
		transition: all .3s;
		&:hover {
			border-bottom-color: #d34141;
		}
		&:after {
			position: absolute;
			top: -37px;
			left: 10px;
			width: 100%;
			height: 100%;
			content: '';
			background-color: #da4e4e;
			transform: rotate(8deg);
		}
		span {
			position: absolute;
			right: 0;
			left: 0;
			z-index: 1;
		}
	}
}

.building {
	margin-top: -40px;
	min-width: 1000px;
	padding-bottom: 80px;
	background-image: url("../img/building-bg.png");
	background-repeat: no-repeat;
	background-position: top center;
	&-container {
		margin: 0 auto;
		width: 860px;
	}
	ul {
		display: inline-block;
		margin-bottom: 40px;
		li {
			padding-left: 20px;
			font: normal 29px $cb;
			&:before {
				margin-top: 15px;
			}
		}
	}
	img {
		float: right;
		display: inline-block;
		margin-top: -45px;
		&.building-2 {
			margin-top: 0;
		}
	}
}

.text {
	margin-top: -70px;
	min-width: 1000px;
	padding-bottom: 30px;
	background-image: url("../img/text-bg.png");
	background-repeat: no-repeat;
	background-position: top center;
	&-container {
		margin: 0 auto;
		width: 860px;
	}
	p {
		font: normal 17px $cr;
	}
	.summ {
		position: relative;
		margin: 12px auto 0;
		width: 478px;
		height: 181px;
		text-align: center;
		background-color: #fff;
		border-radius: 5px;
		box-shadow: 0 0 5px 0 rgba(#3d3d3d, .3);
		&:after {
			position: absolute;
			top: 5px;
			left: 5px;
			width: 478px - 10px;
			height: 181px - 10px;
			content: '';
			background-color: #30558f;
		}
		a {
			position: relative;
			z-index: 1;
			display: inline-block;
			margin: 55px auto;
			width: 426px;
			height: 55px;
			text-decoration: none;
			font: normal 27px/75px $cb;
			color: #fff;
			background-color: #9fc32e;
			border-radius: 2px;
			transition: all .3s;
			&:after {
				position: absolute;
				left: 0;
				bottom: -35px;
				content: '';
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 35px 213px 0 213px;
				border-color: #9fc32e transparent transparent transparent;
				transition: all .3s;
			}
			&:hover {
				background-color: darken(#9fc32e, 5%);
				&:after {
					border-color: darken(#9fc32e, 5%) transparent transparent transparent;
				}
			}
		}
		&-line {
			position: relative;
			margin: 12px auto 0;
			width: 375px;
			height: 3px;
			background-color: #f1cb30;
			&:before {
				position: absolute;
				left: ((375px - 145) / 2);
				bottom: 8px;
				content: '';
				width: 145px;
				height: 2px;
				background-color: #f1cb30;
			}
			&:after {
				position: absolute;
				top: 8px;
				right: 0;
				left: -((425px - 375) / 2);
				width: 425px;
				height: 4px;
				content: '';
				background-color: #f1cb30;
			}
			&-top {
				margin-top: 80px;
				transform: rotate(180deg);
			}
		}
	}
}

.footer {
	min-width: 1000px;
	padding: 20px 0 1px;
	text-align: center;
	background-color: #31558f;
	h4 {
		margin: 0 0 10px;
		font: normal 24px $cb;
		color: #fff;
	}
	p {
		margin: 0 0 10px;
		font: normal 20px $cr;
		color: #fff;
	}
}

@import 'media';